asgiref==3.4.1
Django==3.1.12
django-cors-headers==3.7.0
djangorestframework==3.12.4
djongo==1.3.6
dnspython==2.1.0
pymongo==3.12.0
sqlparse==0.2.4
earthengine-api
pandas
Pillow==7.0.0
keras==2.6.0
matplotlib
tensorflow-cpu
gunicorn
dj-database-url
whitenoise
psycopg2-binary
django-heroku
pyparsing==2.4.2
